## .NET Core / Visual Studio
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Environment & Secrets
appsettings.Production.json
appsettings.Development.json
appsettings.*.local.json
*.local.json
.env

## SQLite Database files
*.db
*.db-shm
*.db-wal

## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Docker
postgres_data/
